
body{
	background-color : black;
	color : white;
	font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Comic Neue', cursive;
    font-size : larger;
    text-align : center;
}

.navbar{
    margin : 10px;
    padding:2px;
}

iframe{
    border-radius : 10px;
    width : 460;
    height : 215;
}

.external-span{

    color : gray;
}

.css-span{
    color: yellow;
}

.spacex-frame{
    width : 520;
    height : 330;
}